[unit]
Description=Cloud deployment of project

[Service]
User=clouduser
WorkingDirectory=/home/clouduser
ExecStart=/usr/bin/node /home/clouduser/public/TeamB_Pool_Project_API/index.js

[Install]
WantedBy=multi-user.target
